# Problem statement 1:
Perform the following operations using Python on any open-source dataset (e.g., data.csv)
1. Import all the required Python Libraries.
2. Load the Dataset into pandasâ€™ data frame.
3. Data Preprocessing: check for missing values in the data using pandas isnull (),
describe(),head(),tail(), info(),function to get some initial statistics. Provide variable descriptions.
Types of variables etc. Check the dimensions of the data frame.
4. Data Formatting and Data Normalization: Summarize the types of variables by checking the
data types (i.e., character, numeric, integer, factor, and logical) of the variables in the data set. If
variables are not in the correct data type, apply proper type conversions.

1. Import all the required Python Libraries.

In [1]:
import pandas as pd
import numpy as np

2. Load the Dataset into pandas' data frame.

In [2]:
df = pd.read_csv("melb_data.csv")

3. Data Preprocessing: check for missing values in the data using pandas isnull(), describe(), head(), tail(), info() function to get some initial statistics. Provide variable descriptions. Types of variables etc. Check the dimensions of the data frame.

In [3]:
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [4]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [5]:
df.tail()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [6]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [8]:
df.isnull()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
13576,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13577,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
13578,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13579,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [9]:
df.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [10]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [11]:
df.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [12]:
len(df)

13580

In [13]:
df.shape

(13580, 21)

4. Data Formatting and Data Normalization: Summarize the types of variables by checking the data types (i.e., character, numeric, integer, factor, and logical) of the variables in the data set. If variables are not in the correct data type, apply proper type conversions.

In [14]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [15]:
df.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [26]:
# Date should be of the form DateTime
df["Date"] = df["Date"].astype("datetime64[ns]")

In [17]:
df["Date"].dtype

dtype('<M8[ns]')

In [18]:
# Price, Bedroom, Bathroom, Car, Postcode, Landsize, YearBuilt, Propertycount should be of type int64
df["Price"] = df["Price"].astype("int64")
df["Bedroom2"] = df["Bedroom2"].astype("int64")
df["Bathroom"] = df["Bathroom"].astype("int64")
df["Postcode"] = df["Postcode"].astype("int64")
df["Landsize"] = df["Landsize"].astype("int64")
df["Propertycount"] = df["Propertycount"].astype("int64")

In [19]:
df.dtypes

Suburb                   object
Address                  object
Rooms                     int64
Type                     object
Price                     int64
Method                   object
SellerG                  object
Date             datetime64[ns]
Distance                float64
Postcode                  int64
Bedroom2                  int64
Bathroom                  int64
Car                     float64
Landsize                  int64
BuildingArea            float64
YearBuilt               float64
CouncilArea              object
Lattitude               float64
Longtitude              float64
Regionname               object
Propertycount             int64
dtype: object

In [20]:
df["Car"].unique()

array([ 1.,  0.,  2.,  6.,  5.,  4.,  3.,  8.,  7.,  9., 10., nan])

In [27]:
# Car contains NAN values fill them with 0
df['Car'] = df['Car'].fillna(0).astype(int)

In [28]:
df["Car"].unique()

array([ 1,  0,  2,  6,  5,  4,  3,  8,  7,  9, 10])

In [29]:
df["Car"].dtype

dtype('int32')

In [30]:
# Fill nan values of Building area with 0
df["BuildingArea"] = df["BuildingArea"].fillna(0)

In [33]:
df["BuildingArea"].dtype

dtype('float64')

In [37]:
# Change its datatype
df["BuildingArea"] = df["BuildingArea"].astype(int)

In [38]:
df["BuildingArea"].dtype

dtype('int32')

In [34]:
# Fill nan values of YearBuilt with 2000
df["YearBuilt"] = df["YearBuilt"].fillna(2000)

In [36]:
df["YearBuilt"].dtype

dtype('float64')

In [39]:
# Change its Datatype
df["YearBuilt"] = df["YearBuilt"].astype(int)

In [40]:
df["YearBuilt"].dtype

dtype('int32')

In [41]:
# Datatypes after conversion
df.dtypes

Suburb                   object
Address                  object
Rooms                     int64
Type                     object
Price                     int64
Method                   object
SellerG                  object
Date             datetime64[ns]
Distance                float64
Postcode                  int64
Bedroom2                  int64
Bathroom                  int64
Car                       int32
Landsize                  int64
BuildingArea              int32
YearBuilt                 int32
CouncilArea              object
Lattitude               float64
Longtitude              float64
Regionname               object
Propertycount             int64
dtype: object

In [52]:
# Get numeric column names
columns = list(df.columns)
numeric_columns = []
for column in columns:
    if(df[column].dtype in ['float', 'int', 'float64', 'int64', 'int32']):
        numeric_columns.append(column)
numeric_columns

['Rooms',
 'Price',
 'Distance',
 'Postcode',
 'Bedroom2',
 'Bathroom',
 'Car',
 'Landsize',
 'BuildingArea',
 'YearBuilt',
 'Lattitude',
 'Longtitude',
 'Propertycount']

In [53]:
# Min-Max Normalization
min_max_normalized_df = df
for column in numeric_columns:
    min_max_normalized_df[column] = (min_max_normalized_df[column]-min_max_normalized_df[column].min())/(min_max_normalized_df[column].max()-min_max_normalized_df[column].min())

In [54]:
min_max_normalized_df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,0.111111,h,0.156478,S,Biggin,2016-03-12,0.051975,0.068577,...,0.125,0.1,0.000466,0.000000,0.978102,Yarra,0.494755,0.517651,Northern Metropolitan,0.176160
1,Abbotsford,25 Bloomburg St,0.111111,h,0.106562,S,Biggin,2016-04-02,0.051975,0.068577,...,0.125,0.0,0.000360,0.001775,0.856448,Yarra,0.484031,0.513083,Northern Metropolitan,0.176160
2,Abbotsford,5 Charles St,0.222222,h,0.154795,SP,Biggin,2017-04-03,0.051975,0.068577,...,0.250,0.0,0.000309,0.003370,0.856448,Yarra,0.482223,0.513997,Northern Metropolitan,0.176160
3,Abbotsford,40 Federation La,0.222222,h,0.085810,PI,Biggin,2017-04-03,0.051975,0.068577,...,0.250,0.1,0.000217,0.000000,0.978102,Yarra,0.498243,0.516281,Northern Metropolitan,0.176160
4,Abbotsford,55a Park St,0.333333,h,0.169938,VB,Nelson,2016-04-06,0.051975,0.068577,...,0.125,0.2,0.000277,0.003190,0.995134,Yarra,0.484936,0.513723,Northern Metropolitan,0.176160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,0.333333,h,0.130118,S,Barry,2017-08-26,0.347193,0.153531,...,0.250,0.2,0.001506,0.000000,0.954988,NaN,0.357781,0.672246,South-Eastern Metropolitan,0.333769
13576,Williamstown,77 Merrett Dr,0.222222,h,0.106113,SP,Williams,2017-08-26,0.141372,0.016377,...,0.250,0.2,0.000769,0.002988,0.972019,NaN,0.417664,0.408601,Western Metropolitan,0.286482
13577,Williamstown,83 Power St,0.222222,h,0.121705,S,Raine,2017-08-26,0.141372,0.016377,...,0.250,0.4,0.001007,0.000000,0.974453,NaN,0.426100,0.416221,Western Metropolitan,0.286482
13578,Williamstown,96 Verdon St,0.333333,h,0.270892,PI,Sweeney,2017-08-26,0.141372,0.016377,...,0.125,0.5,0.002000,0.003527,0.880779,NaN,0.417909,0.421346,Western Metropolitan,0.286482
13579,Yarraville,6 Agnes St,0.333333,h,0.134605,SP,Village,2017-08-26,0.130977,0.013306,...,0.125,0.1,0.000836,0.002516,0.880779,NaN,0.478889,0.413580,Western Metropolitan,0.294098

In [55]:
# Z-Score Normalization
z_score_normalized_df = df
for column in numeric_columns:
    z_score_normalized_df[column] = (z_score_normalized_df[column]-z_score_normalized_df[column].mean())/z_score_normalized_df[column].std()

In [56]:
z_score_normalized_df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,-0.981427,h,0.632425,S,Biggin,2016-03-12,-1.301437,-0.422400,...,-0.772347,-0.623585,-0.089312,-0.199816,0.632614,Yarra,0.121155,0.030638,Northern Metropolitan,-0.784596
1,Abbotsford,25 Bloomburg St,-0.981427,h,-0.063637,S,Biggin,2016-04-02,-1.301437,-0.422400,...,-0.772347,-1.658195,-0.100839,-0.001960,-2.332158,Yarra,0.016436,-0.017478,Northern Metropolitan,-0.784596
2,Abbotsford,5 Charles St,0.064874,h,0.608962,SP,Biggin,2017-04-03,-1.301437,-0.422400,...,0.673342,-1.658195,-0.106352,0.175860,-2.332158,Yarra,-0.001227,-0.007854,Northern Metropolitan,-0.784596
3,Abbotsford,40 Federation La,0.064874,h,-0.353012,PI,Biggin,2017-04-03,-1.301437,-0.422400,...,0.673342,-0.623585,-0.116375,-0.199816,0.632614,Yarra,0.155220,0.016204,Northern Metropolitan,-0.784596
4,Abbotsford,55a Park St,1.111175,h,0.820127,VB,Nelson,2016-04-06,-1.301437,-0.422400,...,-0.772347,0.411025,-0.109860,0.155824,1.047682,Yarra,0.025268,-0.010741,Northern Metropolitan,-0.784596
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,1.111175,h,0.264841,S,Barry,2017-08-26,1.118169,0.492938,...,0.673342,0.411025,0.023451,-0.199816,0.069308,NaN,-1.216471,1.658980,South-Eastern Metropolitan,-0.014255
13576,Williamstown,77 Merrett Dr,0.064874,h,-0.069894,SP,Williams,2017-08-26,-0.568740,-0.984836,...,0.673342,0.411025,-0.056486,0.133283,0.484376,NaN,-0.631685,-1.117986,Western Metropolitan,-0.245380
13577,Williamstown,83 Power St,0.064874,h,0.147528,S,Raine,2017-08-26,-0.568740,-0.984836,...,0.673342,2.480245,-0.030676,-0.199816,0.543671,NaN,-0.549298,-1.037729,Western Metropolitan,-0.245380
13578,Williamstown,96 Verdon St,1.111175,h,2.227893,PI,Sweeney,2017-08-26,-0.568740,-0.984836,...,-0.772347,3.514855,0.077076,0.193391,-1.739203,NaN,-0.629288,-0.983743,Western Metropolitan,-0.245380
13579,Yarraville,6 Agnes St,1.111175,h,0.327409,SP,Village,2017-08-26,-0.653937,-1.017920,...,-0.772347,-0.623585,-0.049219,0.080688,-1.739203,NaN,-0.033778,-1.065540,Western Metropolitan,-0.208154