# Problem statement 6:
Write a Python program to display some basic statistical details like percentile, mean, standard
deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris- verginica’ of iris.csv
dataset. Grouped by one of the qualitative (categorical) variable from the dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Iris.csv")

In [3]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [6]:
len(df)

150

In [7]:
df.shape

(150, 6)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

Combined Statistical Analysis of Dataset using describe() method

In [10]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [12]:
# Dropping Id column
df.drop("Id", axis=1, inplace=True)

In [13]:
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

Groupwise Statistical Analysis

In [23]:
pd.set_option('display.max_columns', None)
df.groupby("Species").describe()

                SepalLengthCm                                              \
                        count   mean       std  min    25%  50%  75%  max
Species
Iris-setosa              50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor          50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica           50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

                SepalWidthCm                                                \
                       count   mean       std  min    25%  50%    75%  max
Species
Iris-setosa             50.0  3.418  0.381024  2.3  3.125  3.4  3.675  4.4
Iris-versicolor         50.0  2.770  0.313798  2.0  2.525  2.8  3.000  3.4
Iris-virginica          50.0  2.974  0.322497  2.2  2.800  3.0  3.175  3.8

                PetalLengthCm                                               \
                        count   mean       std  min  25%   50%    75%  max
Species
Iris-setosa              50.0  1.464  0.173511  1.0  1.4  1.50  1.575  1.9
Iris-versicolor          50.0  4.260  0.469911  3.0  4.0  4.35  4.600  5.1
Iris-virginica           50.0  5.552  0.551895  4.5  5.1  5.55  5.875  6.9

                PetalWidthCm
                       count   mean       std  min  25%  50%  75%  max
Species
Iris-setosa             50.0  0.244  0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor         50.0  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica          50.0  2.026  0.274650  1.4  1.8  2.0  2.3  2.5

In [26]:
df.groupby("Species").min()

                 SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa                4.3           2.3            1.0           0.1
Iris-versicolor            4.9           2.0            3.0           1.0
Iris-virginica             4.9           2.2            4.5           1.4

In [27]:
df.groupby("Species").max()

                 SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa                5.8           4.4            1.9           0.6
Iris-versicolor            7.0           3.4            5.1           1.8
Iris-virginica             7.9           3.8            6.9           2.5

In [14]:
df.groupby("Species").mean()

                 SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa              5.006         3.418          1.464         0.244
Iris-versicolor          5.936         2.770          4.260         1.326
Iris-virginica           6.588         2.974          5.552         2.026

In [15]:
df.groupby("Species").median()

                 SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa                5.0           3.4           1.50           0.2
Iris-versicolor            5.9           2.8           4.35           1.3
Iris-virginica             6.5           3.0           5.55           2.0

In [36]:
df.groupby("Species")[["SepalWidthCm","PetalLengthCm","PetalWidthCm"]].aggregate(pd.Series.mode)

                 SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa               3.4            1.5           0.2
Iris-versicolor           3.0            4.5           1.3
Iris-virginica            3.0            5.1           1.8

In [18]:
df.groupby("Species").sum()

                 SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa              250.3         170.9           73.2          12.2
Iris-versicolor          296.8         138.5          213.0          66.3
Iris-virginica           329.4         148.7          277.6         101.3

In [16]:
df.groupby("Species").std()

                 SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa           0.352490      0.381024       0.173511      0.107210
Iris-versicolor       0.516171      0.313798       0.469911      0.197753
Iris-virginica        0.635880      0.322497       0.551895      0.274650

In [38]:
df.groupby("Species").var()

                 SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa           0.124249      0.145180       0.030106      0.011494
Iris-versicolor       0.266433      0.098469       0.220816      0.039106
Iris-virginica        0.404343      0.104004       0.304588      0.075433

In [39]:
df.groupby("Species").cov()

                               SepalLengthCm  SepalWidthCm  PetalLengthCm  \
Species
Iris-setosa     SepalLengthCm       0.124249      0.100298       0.016139
                SepalWidthCm        0.100298      0.145180       0.011682
                PetalLengthCm       0.016139      0.011682       0.030106
                PetalWidthCm        0.010547      0.011437       0.005698
Iris-versicolor SepalLengthCm       0.266433      0.085184       0.182898
                SepalWidthCm        0.085184      0.098469       0.082653
                PetalLengthCm       0.182898      0.082653       0.220816
                PetalWidthCm        0.055780      0.041204       0.073102
Iris-virginica  SepalLengthCm       0.404343      0.093763       0.303290
                SepalWidthCm        0.093763      0.104004       0.071380
                PetalLengthCm       0.303290      0.071380       0.304588
                PetalWidthCm        0.049094      0.047629       0.048824

                               PetalWidthCm
Species
Iris-setosa     SepalLengthCm      0.010547
                SepalWidthCm       0.011437
                PetalLengthCm      0.005698
                PetalWidthCm       0.011494
Iris-versicolor SepalLengthCm      0.055780
                SepalWidthCm       0.041204
                PetalLengthCm      0.073102
                PetalWidthCm       0.039106
Iris-virginica  SepalLengthCm      0.049094
                SepalWidthCm       0.047629
                PetalLengthCm      0.048824
                PetalWidthCm       0.075433

In [19]:
df.groupby("Species").quantile([0.25, 0.5, 0.75])

                      SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa     0.25          4.800         3.125          1.400           0.2
                0.50          5.000         3.400          1.500           0.2
                0.75          5.200         3.675          1.575           0.3
Iris-versicolor 0.25          5.600         2.525          4.000           1.2
                0.50          5.900         2.800          4.350           1.3
                0.75          6.300         3.000          4.600           1.5
Iris-virginica  0.25          6.225         2.800          5.100           1.8
                0.50          6.500         3.000          5.550           2.0
                0.75          6.900         3.175          5.875           2.3

In [24]:
df.groupby("Species").skew()

                 SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa           0.120087      0.107053       0.071846      1.197243
Iris-versicolor       0.105378     -0.362845      -0.606508     -0.031180
Iris-virginica        0.118015      0.365949       0.549445     -0.129477